<div class="container">
  <p class="lead text-center mt-3">Rules</p>
  <ul class="text-left" style="list-style-position: inside;">
    <li>A team can contain 3-4 members</li>
    <li>Participant should be registered with Stackoverflow account name and username</li>
    <li>Registration ends {{registrationEnd}}</li>
    <li>Questions are answered during the challenge (from {{challengeStart}} to {{challengeEnd}})</li>
    <li>Edited answers (after the challenge is over) will not be considered</li>
    {{!-- <li>Answered questions should contain a valid tag</li> --}}
    <li>Participant is not a question owner of any answered question</li>
    <li>Answered questions should be created from {{questionsStart}} to {{questionsEnd}}</li>
  </ul>
</div>
