<!DOCTYPE html>
<html>

{{>head}}

<body>
  {{>nav}}
  <h1 class="lead text-center mt-2">Leaderboard {{#if updated_at}}(last updated at {{updated_at}}){{/if}}</h1>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each teams as |team|}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>
              <table class="table">
                <p class="lead text-primary">{{team.name}}</p>
                <tbody>
                  {{#each team.members as |member|}}
                  <tr>
                    {{#if member.link}}
                    <td class="text-muted"><a href={{member.link}}>{{member.name}}
                        - {{member.username}}</a></td>
                    {{else}}
                    <td class="text-muted">{{member.name}} - {{member.username}}</td>
                    {{/if}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
            <td>
              <table class="table">
                <p class="lead text-primary">{{team.score}}</p>
                <tbody>
                  {{#each team.members as |member|}}
                  <tr>
                    <td class="text-muted">{{member.score}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{>scripts}}
</body>

</html>
